body {
    background-color: #EAF6F6;
  }
  
  h1 {
    color: #66BFBF;
  }

  h3  {
    color: #66BFBF;
  }


  hr {
    border-style: dotted none none;
    width: 5%;
    border-color: grey;
    border-width: 5px;
  }

  .projects {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
  }

  .projects div {
    width: 40%;
    height: 200px;
    text-align: center;
    border: 1px solid #66BFBF ;
  }

  .projects .main-project {
    width: 80%;
  }

  .nav {
    height: 50px;
    width: 100%;
    background-color: #66BFBF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

  }

  .nav a {
    margin-right: 15px;
  }
  